# This is a minimal openssl config used to generate a custom root ca

[ req ]
distinguished_name = req_dn
x509_extensions    = v3_ext

[ req_dn ]
commonName                     = localhost
countryName_default            = DE
stateOrProvinceName_default    = NRW
localityName_default           = Dusseldorf
organizationName_default       = trivago
organizationalUnitName_default = SRE
emailAddress_default           = integration.test@trivago.com

[ v3_ext ]
basicConstraints = CA:true
subjectAltName   = DNS:localhost
