name: 'identity-server integration test'

'on':
  workflow_dispatch: {}
  pull_request:
    types: [opened, reopened, synchronize]

jobs:
  test-mtls:
    # Only run if relevant files changed or it was manually triggered.
    # Never run if created by the github-actions bot (e.g. autorelease).
    if: |
      github.actor != 'github-actions[bot]' && (
      github.event_name == 'workflow_dispatch' ||
      contains(github.event.pull_request.changed_files, 'cmd/identity-server/') ||
      contains(github.event.pull_request.changed_files, 'internal/') ||
      contains(github.event.pull_request.changed_files, 'tests/') ||
      contains(github.event.pull_request.changed_files, 'go.mod') ||
      contains(github.event.pull_request.changed_files, 'go.sum'))

    runs-on: ['ubuntu-24.04']
    permissions:
      contents: 'read'
      id-token: 'write'

    env:
      CA_ROOT: '${{ github.workspace }}/mtls'
    defaults:
      run:
        shell: bash

    steps:
      - name: 'Checkout'
        uses: 'actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8' # ratchet:actions/checkout@v5
        id: checkout

      - name: 'Setup Workload Identity Provider'
        id: 'auth'
        uses: 'google-github-actions/auth@7c6bc770dae815cd3e89ee6cdf493a5fab2cc093' # ratchet:google-github-actions/auth@v3
        with:
          workload_identity_provider: 'projects/866597189115/locations/global/workloadIdentityPools/github/providers/github-actions'
          service_account: 'github@trv-identity-server-testing.iam.gserviceaccount.com'

      - name: 'Setup Google Cloud SDK'
        uses: 'google-github-actions/setup-gcloud@aa5489c8933f4cc7a4f7d45035b3b1440c9c10db' # ratchet:google-github-actions/setup-gcloud@v3
        with:
          project_id: 'trv-dentity-server-testing'

      - name: 'Download and generate certificates'
        id: 'download-certs'
        run: |
          ./tests/gen-certs.sh

          mkdir -p "${CA_ROOT}/server"
          mkdir -p "${CA_ROOT}/client"

          mv "${CA_ROOT}/generated/client-selfsigned.key" "${CA_ROOT}/client/client-selfsigned.key"
          mv "${CA_ROOT}/generated/client-selfsigned.cert" "${CA_ROOT}/client/client-selfsigned.cert"

          CA_CERT_URL="$(gcloud privateca roots describe identity-server-ca --project=trv-identity-server-testing --pool=integration-test-ca-pool --location=europe-west1 --format='value(accessUrls.caCertificateAccessUrl)')"
          curl -sL -o "${CA_ROOT}/server/cacert.pem" "${CA_CERT_URL}"

          cat "${CA_ROOT}/server/cacert.pem" "${CA_ROOT}/generated/cacert.pem" > "${CA_ROOT}/cacert.pem"

          gcloud secrets versions access latest --project="trv-identity-server-testing" --secret="integration-test-server-cert" > "${CA_ROOT}/server/server.cert"
          gcloud secrets versions access latest --project="trv-identity-server-testing" --secret="integration-test-server-key" > "${CA_ROOT}/server/server.key"

          gcloud secrets versions access latest --project="trv-identity-server-testing" --secret="integration-test-client-key" > "${CA_ROOT}/client/client.key"
          gcloud secrets versions access 1 --project="trv-identity-server-testing" --secret="integration-test-client-cert" > "${CA_ROOT}/client/client-expired.cert"
          gcloud secrets versions access latest --project="trv-identity-server-testing" --secret="integration-test-client-cert" > "${CA_ROOT}/client/client.cert"
          gcloud secrets versions access latest --project="trv-identity-server-testing" --secret="integration-test-client-revoked" > "${CA_ROOT}/client/client-revoked.cert"

          cp "${CA_ROOT}/client/client.key" "${CA_ROOT}/client/client-expired.key"
          cp "${CA_ROOT}/client/client.key" "${CA_ROOT}/client/client-revoked.key"

      - name: 'Setup golang'
        uses: 'actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00' # ratchet:actions/setup-go@v6
        with:
          go-version: '1.24.3'

      - name: 'Build'
        run: |
          go build -tags=jsoniter -ldflags="-s -w" -mod=mod ./cmd/identity-server

      - name: 'Run server'
        id: 'run-server'
        run: |
          ./identity-server \
            --server.key="${CA_ROOT}/server/server.key" \
            --tls.certificate="${CA_ROOT}/server/server.cert" \
            --tls.key="${CA_ROOT}/server/server.key" \
            --server.issuer='https://identity-server' \
            --server.hostname='identity-server' \
            --server.identity='identity-server@trv-identity-server-testing.iam.gserviceaccount.com' \
            --server.workloadidentity.providername='integration-test' \
            --server.workloadidentity.poolname='integration-test' \
            --server.certauthority.project='trv-identity-server-testing' \
            --server.certauthority.region='europe-west1' \
            --server.certauthority.poolname='integration-test-ca-pool' \
            --server.certauthority.name='identity-server-ca' \
            &> server.log &

          echo $! > server.pid
          sleep 5

      - name: 'Test jwks.json GET: ok'
        id: 'jwks'
        if: steps.run-server.outcome == 'success'
        run: |
          source 'tests/integrationtest-utils.sh'

          CURL_IDENTITY=''
          CURL_CONTENT_JSON=''

          curl_expect 200 'GET' 'https://identity-server:8443/jwks.json'

      - name: 'jwks.json output'
        if: steps.jwks.outcome == 'success'
        run: |
          curl -sLk --resolve 'identity-server:8443:127.0.0.1' 'https://identity-server:8443/jwks.json'

      # Test token retrieval
      - name: 'Test token GET: no-auth'
        id: 'token-noauth'
        if: always() && steps.run-server.outcome == 'success'
        run: |
          source 'tests/integrationtest-utils.sh'

          CURL_IDENTITY=''
          CURL_CONTENT_JSON=''

          curl_expect 401 'GET' 'https://identity-server:8443/token'

      - name: 'Test token GET: empty audience'
        id: 'token-audience'
        if: always() && steps.run-server.outcome == 'success'
        run: |
          source 'tests/integrationtest-utils.sh'

          CURL_IDENTITY='client'
          CURL_CONTENT_JSON='{}'

          curl_expect 400 'GET' 'https://identity-server:8443/token'

      - name: 'Test token GET: client wrong root ca'
        id: 'token-wrong-ca'
        if: always() && steps.run-server.outcome == 'success'
        run: |
          source 'tests/integrationtest-utils.sh'

          CURL_IDENTITY='client-selfsigned'
          CURL_CONTENT_JSON='{"audiences": ["test"]}'

          curl_expect x56 'GET' 'https://identity-server:8443/token'

      - name: 'Test token GET: client expired'
        id: 'token-expired'
        if: always() && steps.run-server.outcome == 'success'
        run: |
          source 'tests/integrationtest-utils.sh'

          CURL_IDENTITY='client-expired'
          CURL_CONTENT_JSON='{"audiences": ["test"]}'

          curl_expect x56 'GET' 'https://identity-server:8443/token'

      - name: 'Test token GET: client revoked'
        id: 'token-revoked'
        if: always() && steps.run-server.outcome == 'success'
        run: |
          source 'tests/integrationtest-utils.sh'

          CURL_IDENTITY='client-revoked'
          CURL_CONTENT_JSON='{"audiences": ["test"]}'

          curl_expect 410 'GET' 'https://identity-server:8443/token'

      - name: 'Test token GET: ok'
        id: 'token'
        if: always() && steps.run-server.outcome == 'success'
        run: |
          source 'tests/integrationtest-utils.sh'

          CURL_IDENTITY='client'
          CURL_CONTENT_JSON='{"audiences": ["test"], "lifetime": "10m"}'

          curl_expect 200 'GET' 'https://identity-server:8443/token'

      - name: 'Test token GET: ok, defaults'
        id: 'token-defaults'
        if: always() && steps.run-server.outcome == 'success'
        run: |
          source 'tests/integrationtest-utils.sh'

          CURL_IDENTITY='client'
          CURL_CONTENT_JSON='{"audiences": ["test"]}'

          curl_expect 200 'GET' 'https://identity-server:8443/token'

      # Test identity retrieval
      - name: 'Test identity GET: no-auth'
        id: 'identity-noauth'
        if: always() && steps.run-server.outcome == 'success'
        run: |
          source 'tests/integrationtest-utils.sh'

          CURL_IDENTITY=''
          CURL_CONTENT_JSON=''

          curl_expect 401 'GET' 'https://identity-server:8443/identity'

      - name: 'Test identity GET: client wrong root ca'
        id: 'identity-wrong-ca'
        if: always() && steps.run-server.outcome == 'success'
        run: |
          source 'tests/integrationtest-utils.sh'

          CURL_IDENTITY='client-selfsigned'
          CURL_CONTENT_JSON=''

          curl_expect x56 'GET' 'https://identity-server:8443/identity'

      - name: 'Test identity GET: client expired'
        id: 'identity-expired'
        if: always() && steps.run-server.outcome == 'success'
        run: |
          source 'tests/integrationtest-utils.sh'

          CURL_IDENTITY='client-expired'
          CURL_CONTENT_JSON=''

          curl_expect x56 'GET' 'https://identity-server:8443/identity'

      - name: 'Test identity GET: client revoked'
        id: 'identity-revoked'
        if: always() && steps.run-server.outcome == 'success'
        run: |
          source 'tests/integrationtest-utils.sh'

          CURL_IDENTITY='client-revoked'
          CURL_CONTENT_JSON=''

          curl_expect 410 'GET' 'https://identity-server:8443/identity'

      - name: 'Test identity GET: ok'
        id: 'identity'
        if: always() && steps.run-server.outcome == 'success'
        run: |
          source 'tests/integrationtest-utils.sh'

          CURL_IDENTITY='client'
          CURL_CONTENT_JSON=''

          curl_expect 200 'GET' 'https://identity-server:8443/identity'

      - name: 'stop server'
        if: always() && steps.run-server.outcome == 'success'
        run: |
          kill "$(cat server.pid)"

      - name: 'upload server log'
        if: always() && steps.run-server.outcome == 'success'
        uses: 'actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02' # ratchet:actions/upload-artifact@v4
        with:
          name: 'server.log'
          path: 'server.log'
